
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
    font-weight: 500;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #00bcd4;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}

.form-group input::placeholder {
    color: #aaa;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 40px;
}

.password-wrapper span {
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background: #4dd0e1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #26c6da;
}